.post_item_gallery {
	position: relative;
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.post_item_gallery,
.post_item_gallery * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.post_item_gallery .post_featured > a {
	position:absolute !important;
	z-index:100;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
}
.post_item_gallery img {
	width: 100%;
	height: auto;	/*100%;*/
}

.post_item_gallery .post_details {
	display:none;
}

.gallery_item_current {
	opacity: 0 !important;
}

.gallery_preview {
	position: fixed;
	z-index: 200000;
	top: 0;
	left: 0;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	        justify-content: center;
	-ms-flex-line-pack: center;
	-webkit-align-content: center;
	align-content: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	width: 50%;
	height: 100%;
	pointer-events: none;
}
.gallery_preview:before {
	content: ' ';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	    -ms-transition: opacity 0.6s;
	        transition: opacity 0.6s;
}
.gallery_preview_show {
	pointer-events: auto;
}
.gallery_preview_show:before {
	opacity: 1;
}

.gallery_preview_image_clone {
	position: fixed;
	z-index: 110;
	-webkit-transition: -webkit-transform 0.5s;
	        transition: transform 0.5s;
	-webkit-backface-visibility: hidden;
}
.gallery_preview_image_original {
	position: relative;
	z-index: 120;
	display: block;
	object-fit: contain;
	-webkit-transition: opacity 0.2s;
	        transition: opacity 0.2s;
	-webkit-backface-visibility: hidden;
}

.gallery_preview_show .gallery_preview_image_animate {
	/* open */
	-webkit-transition: -webkit-transform 0.6s, opacity 0.2s;
	        transition: transform 0.6s, opacity 0.2s;
}
.gallery_preview_image_animate {
	/* close */
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	        transition: transform 0.3s, opacity 0.2s;
}

.gallery_preview_description {
	position: absolute;
	z-index: 140;
	width: 100%;
	left: 100%;
	top: 0;
	height: 100%;
	padding: 0 3em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	display: -webkit-flex;
	display:     -ms-flex;
	display:         flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	        justify-content: center;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	        align-items: flex-start;
	opacity: 0;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	    -ms-transition: opacity 1s, -webkit-transform 1s;
	        transition: opacity 1s, transform 1s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	    -ms-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transform: translate3d(0, 30px, 0);
	    -ms-transform: translate3d(0, 30px, 0);
	        transform: translate3d(0, 30px, 0);
}

.gallery_preview_show .gallery_preview_description {
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	        transition-delay: 0.2s;
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}

.gallery_preview_show .post_title {
	margin: 0.3em 0 0.5em;
}
.gallery_preview_show .post_category,
.gallery_preview_show .post_description {
	max-width: 100%;
	font-size:1.1429em;
	line-height: 2em;
}


/* Close button */
.gallery_preview_close {
	font-size: 2em;
	margin: 0;
	padding: 0;
	cursor: pointer;
	vertical-align: top;
	border: none;
	background: none;
	position: fixed;
	z-index: 150;
	top: 0;
	right: 0;
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	    -ms-transition: opacity 0.3s, -webkit-transform 0.3s;
	        transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: scale3d(0.6, 0.6, 1);
	    -ms-transform: scale3d(0.6, 0.6, 1);
	        transform: scale3d(0.6, 0.6, 1);
}
.gallery_preview_image_loaded .gallery_preview_close {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	    -ms-transform: scale3d(1, 1, 1);
	        transform: scale3d(1, 1, 1);
}

@media screen and (max-width: 40em) {
	.gallery_preview .post_description {
		display: none !important;
	}
}