/*
Theme Name: SEIU twenty eleven
Description: Parent theme for SEIU Multisite WordPress installation
Author: New Media, SEIU International
Version: 0.1
Tags: two-columns, fixed-width, custom-header, theme-options, threaded-comments, sticky-post, rtl-language-support, editor-style
*/


@import url(http://yui.yahooapis.com/2.8.1/build/reset-fonts-grids/reset-fonts-grids.css); /* Yahoo reset, fonts and grid layout */
@import url(http://img.seiu.org/css/reset/sam-carousel-mod.css); /* YUI carousel 2.8 (modified for SEIU theme) */	
@import url(http://img.seiu.org/actionicons/action.css); /* global SEIU action icons */
@import url(http://img.seiu.org/css/wp/locals2011/~shared/locals2011.css); /* locals WP skin */
@import url(http://img.seiu.org/css/shared/boxes.css); /* box styles, as described here: http://www.seiu.org/a/design/examples.php */

/* customizations to drop-downs */ 

ul.menu li.menu-item {
	margin: 0px !important;
	height: 38px;
	border: 0px !important;
	}
ul.menu li.menu-item a {
	border: 0px !important;
	}
ul.menu li.menu-item ul.sub-menu {
	background: #fff;
	border: 0px !important;
	position: absolute;
	}	
ul.menu li.menu-item ul.sub-menu li.menu-item {
	height: auto;
	margin: 1px 0px !important;
	}
ul.menu li.menu-item ul.sub-menu li.menu-item a {
	background: url(http://img.seiu.org/css/wp/locals2011/~shared/locals2011-bg.jpg) -800px 0px no-repeat !important;
	}
ul.menu li.menu-item ul.sub-menu li.menu-item a:hover {
	background: url(http://img.seiu.org/css/wp/locals2011/~shared/locals2011-bg.jpg) -855px 0px no-repeat !important;
	}
	
#navbar ul ul li:hover > ul {
	display:block;
	margin-top: 0px;
	margin-left: 2px;
	}
	
#navbar ul ul li:hover > ul li {	
	border-left: solid white 2px;
	}








h2.resource-title {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 3px;
	}
	
.resource {
	margin-top: 0px;
	}

#author-avatar {
	display: none;
	}

/* for collapsable elements plugin - IN DEVELOPMENT */
a.collapse {
	border-radius: 5px;
	background-color: #e1e1e1;
	padding: 5px;
	text-decoration: none;
	font-weight: bold;
	color: black;
	}

/* bullet points to display under category description */
.archive-meta li {
	list-style: square outside !important;
	}
/* for bfr with no promo */
.noline {
	border-bottom: none !important;
	}


/* worksites theme */
.worksites {
	margin-bottom: 40px;
	}
/* General Theme */
p .more-link {
	padding: 0;
	font-size: inherit;
	}
#site-title {
	overflow-x: hidden;
	overflow-y: hidden;
	}


/*	IE FIXES: Search form in primary widget sidebar
	-------------------------------------------------- */
*+html .widget-area .formrow-search-submit button {
	margin: 0px !important;
	display: inline !important;
	position: relative;
	top: -32px;
	}
*+html #searchform #s { /* This keeps the search inputs in line */
	width: 73%;
	margin-bottom: 10px;
	}


/*	IE FIXES: Sign Up Widget in Sidebar
	-------------------------------------------------- */
*+html .widget-primary .widget-signup .widget-formrow input { float: none; margin-left: 115px; margin-top: -25px; margin-bottom: 0px; }
*+html .widget-primary .widget-signup .widget-formrow select { float: none; margin-left: 110px; margin-top: -30px; margin-bottom: 0px; }
*+html .widget-primary .widget-signup .widget-formrow.formrow-submit { float: none; margin-top: 15px; }
*+html .widget-primary form#signup { padding-bottom: 0px;}

/*	IE FIXES: Posts
    -------------------------------------------------- */
*+html .entry-meta {
	width: 100%;
	}

/*	IE FIXES: Contact Form
	-------------------------------------------------- */
*+html #uName {
	display: block;
	}
*+html #uEmail {
	display: block;
	}
	
	


/* Splash Screen test - No fuss widget
______________________________________________*/
div#splashscreen {
        background-color: #F5F5F5;
    border: 1px solid #333333;
    border-radius: 26px 26px 26px 26px;
    margin: 105px auto auto;
    padding: 10px;
    width: 650px;
        }
*+html #splashscreen {float: left;}
div#splashscreen table {
        border: none;
        margin: auto;
        }
#splashformtable {
        width: 100%;
        text-align: left;
        line-height:normal;
        font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans,Verdana,Tahoma,sans-serif;
        }

#stayinformed {
        font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans,Verdana,Tahoma,sans-serif;
        font-weight: bold;
        margin-top: 15px;
        color: #686868;
        font-size: 24px;
        margin-bottom: 15px;
        text-align: left;
        }
span#register {
        font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans,Verdana,Tahoma,sans-serif;
        color: #686868;
        font-size: 18px;
        line-height: normal;
        }
td#splashzipcell {
        width: 27%;
        }
td#splashdivideline {
        border-bottom: #a6a6a6 thin solid;
        height: 5px !important;
        color:#f5f5f5;
        }
td#splashsubmitcell {
        height: 50px !important;
        }
#splashsubmit-btn {
        float: right;
        border: 0;
        }
img#splashpageskip {
        border: 0;
        width: 131px;
        height: 32px;
        float: right;
        margin-right: 5px;
        }


/* TESTING WITH SEIUMN.seiudev.org */
/* container for splash page */
div.splashbox {
        width:600px;
        }
/* Top Part Splash Page */
div.header-splash, .signupfooter-splash {
    color: #6B459F;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

/* middle part in two columns */
.leftside-splash {
        width: 300px;
        float:left;
        margin-left: 10px;
        text-align:center;
        }
.rightside-splash {
        width: 300px;
        margin-right: -18px;
        margin-top: 10px;
        float:right;
        }
/* FORM */
/* rows for fields */
.formrow-splash {
        padding: 20px 0 25px;
        }
.formrow-splash select {
        font-size: 14px;
        width:50%;
        float:right;
        }
/* label */
.label-splash {
        font-size: 14px;
        padding: 3px;
        font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
        }
.label-splash-div {
        width: 50%;
        float: left;
    text-align: right;
    width: 43%;
        }
.submit-splash {
        background: url("http://img.web-assets.co/bluestate/locals/~2010core/i/button-red.png")
repeat scroll -30px -6px transparent;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    height: 32px;
    width: 131px;
    }



/* input */
.text-splash {
        border-radius: 5px 5px 5px 5px;
    float: right;
    font-size: 14px;
        width: 50%;

        height: 20px;
    padding: 0 0 0 3px;
        }
/* submit button */
.submit-splash {
        float: right;
        margin-top: 10px;
        }
.signupfooter-splash{
        clear:both;
        padding: 5px;
        }
        
        
        
        
        

/* Live Validation
-------------------------------------------------------------- */
input:focus
{ 

}

.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
}

.LV_valid {
    color:#00CC00;
}
	
.LV_invalid {
    color:#CC0000;
}
    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}

span.LV_validation_message {
	display: none;
	}
	
	
/* Disclaimer Text for Text Message Sign-ups
--------------------------------------------------------------- */
*/

#discl_text {
    font-size: 8px;
    line-height: 12px;
    margin-top: 3px;
}
	
/* TEMP FOR BOOTCAMP
-------------------------------------------------------------- */	
img.NMBootCAMPimg {
	max-width: 800px !important;
	}
	
/* ONE BUTTON SIGN UP FOR LOCAL 1
-------------------------------------------------------------- */	
.signupheader {
    color: #FFFFFF;
    float: right;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
    margin: 0 30px 0 0;
    width: 240px;
}


.signupheader .lft {
    float: left;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
    line-height: normal;
    padding: 10px 0 0;
}


.signupheader .rt {
    float: right;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}


ol li {
		list-style-type:decimal;
}

#carousel li {
		list-style-type:none;
}


ul.blogroll li {
	margin-bottom: 10px;
	}
	
#resource-widget {
    color: #ffffff !important;
    float: right !important;
    font-stretch: condensed;
    font-weight: 300;
    margin-right: 18px !important;
    margin-top: 46px !important;
}




/*	Feature Front Banner slider
------------------------------------------------------------ */
div#tmpSlideshow {
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    position: relative;
	height:255px;
    width: 580px;
	}
div.tmpSlide {
    position: absolute;
    top: 0;
    left: 5px;
    width: 580px;
    height: 332px;
    display: none;
	}
div.tmpSlide img {
    float: right;
    margin: 10px 0 0 15px;
	}
div#tmpSlideshowControls {
    position: absolute;
    margin-left: 20px;
    margin-top: 225px;
    width: 175px;
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
	}
div.tmpSlideshowControl {
    border: 1px solid #e1dece;
    float: left;
    margin: 0 5px 0 0;
    width: 25px;
    height: 30px;
    color: #554d31;
    font: 12px Arial, sans-serif;
    text-align: center;
    cursor: pointer;
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
	}
div.tmpSlideshowControl span {
    line-height: 36px;
    vertical-align: middle;
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
	}
div.tmpSlideshowControlOn {
	}
div.tmpSlideshowControlActive {
    border: 1px solid rgb(161, 155, 137);
	}
div.tmpSlideCopy {
    position: absolute;
    left: 0px;
    margin-top: 10px;
    width: 225px;
	}
div#tmpSlideshow h4 a {
    text-decoration: none !important;
    line-height: normal;
    font: 12px;
    margin: 0 0 5px 0;
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
	}
div#tmpSlideshow h4 a:hover {
	text-decoration: underline !important;
	}
.maincol h4 {
	margin: 0 0 5px 0;
	}
div.tmpSlideCopy p {
    line-height: 1.6em;
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
	font-size: 11.5px;
	color:#333;
	margin-bottom: 0px;
	}
.othernews {
	display: block;
	width: 300px;
	min-height: 36px;
	padding-top: 8px;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
	}
.othernews ul li {
	line-height:36px; 
	}
.othernews a:link {
	text-decoration: none;
	}
.othernews a:hover {
	text-decoration: underline;
	}
.othernews-img {
	width: 64px !important;
	height: 36px !important;
	background-color: #f5f5f5;
	float: left;
	}
.othernews img {
	border: 0;
	padding: 0;
	width: 64px;
	height: 36px;
	}
.othernews-title {
	margin-left: 5px;
	font-size: 12px;
	}
.spacer {
	margin-left: -20px;
    margin-right: 24px;
	}
.spacer-cat {
    margin-left: -30px;
    margin-right: 35px;
}



/* events calendar plugin */ 
.tribe-events-list-widget ol li {
	margin-bottom: 14px !important;
	}
.tribe-events-list-widget h3.widget-title {
	background: #562078;
	color: #FFFFFF;
    font-size: 16px;
    padding: 10px;
	}
ol.vcalendar {
	margin: 10px;
	}
.tribe-events-list-widget ol li {
	margin-bottom: 17px;
	}
.tribe-events-list-widget ol li	h4.entry-title a {
	font-size: 14px;
    font-weight: 200;
    color: #3B5998;
	}
.tribe-events-list-widget ol li	h4.entry-title a:hover {
	color: #990000;
	}
.tribe-events-list-widget .duration {
	clear: both;
	font-weight: 200;
	}
p.tribe-events-widget-link a {
	float: right;
	background: #ccc;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 12px !important;
    padding: 4px 7px;
    font-weight: 200;
	}
p.tribe-events-widget-link a:hover {
	background: #990000;
	}
	
p.tribe-events-widget-link {
	margin-bottom: 30px;
	}
#tribe-events-content .tribe-events-tooltip h4 {
	background-color: #562078 !important;
	color: #ffffff !important;
	padding: 0 7px !important;
	font-weight: 200 !important;
	}
.tribe-events-event-meta .tribe-events-meta-group, .tribe-events-event-meta .column {
	font-size: 16px;
	}
ul.tribe-events-sub-nav a, .tribe-events-back a, .tribe-events-list-widget .tribe-events-widget-link a, .tribe-events-adv-list-widget .tribe-events-widget-link a {
	font-weight: 200 !important;
	}
.single-tribe_events h2.tribe-events-single-event-title, .tribe-events-list h2.tribe-events-page-title {
	font-size: 28px;
	color: #000000;
	line-height: normal;
    margin-top: 10px;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
	}
.tribe-events-list-separator-month:after {
	font-size: 20px;
	color: #000000;
	font-weight: bold;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
	}
.tribe-events-list-event-description {
	font-size: 16px;
	width: 100%;
	border-bottom: 1px solid #ccc;
	}
*+#tribe-events-content table.tribe-events-calendar {
	width: 940px;
	}
.tribe-events-calendar .tribe-events-tooltip, .tribe-events-week .tribe-events-tooltip, .recurring-info-tooltip {
	
}
*+#tribe-events-content .tribe-events-calendar td {
	width: 355px !important;
}
/* change slider image size default 100% */




/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

	#navbar .menu-header {
    	font-size: 12px;
    	margin-left: 4px;
		}
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}


.hide { display: none;}



